.car{
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 10px;
    display: inline-block;
    border: burlywood solid 5px;
    padding: 50px;
}
.carre2{
    position: relative;
    top: 20px;
}
.carre4{
    position: relative;
    left: -15px;
}
.carre6{
    position: absolute;
    top: 180px;
}
.container{
    border: chartreuse 5px solid;
    width: 400px;
    height: 1000px;
}

